In [1]:
import pandas as pd
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split
from catboost import Pool, cv
random_state = 7
import time
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import f1_score
import os
from sklearn.metrics import roc_auc_score
from sklearn.metrics import confusion_matrix
import warnings
import numpy as np
warnings.filterwarnings("ignore")

In [2]:
tr = "trainset_ALLvsHealthy_80_target_in"
ts = "testset_ALLvsHealthy_20_target_in" 

# tr = "trainset_AMLvsALL_90_target_in"
# ts = "testset_AMLvsALL_10_target_in"

path = os.getcwd()
parent = os.path.dirname(path)

df_whole_train = pd.read_csv(parent + '\Data\\' + tr + ".csv")
df_whole_test = pd.read_csv(parent + '\Data\\' + ts + ".csv")

In [3]:
import pickle
with open("genes_to_keep.pickle", 'rb') as f:
    keep_pickle = pickle.load(f)

keep = []
for item in keep_pickle:
    keep.append(item)



keep.append("target")

In [4]:
len(keep)

10

In [5]:
df_reduced_train = df_whole_train[keep]
df_reduced_test = df_whole_test[keep]
df_reduced_test

,TSPAN7,LYN,JADE3,NPY,IRX5,ZNF423,TRAF3IP2,ABCC6,ADA,target
0,3.48766,10.840500,6.551540,4.292460,3.286260,4.105780,6.867400,5.539490,8.304830,0
1,6.85630,5.933459,6.037010,9.094779,5.304113,7.097217,9.520295,6.241312,9.556516,1
2,9.52603,6.112190,7.122680,11.461300,6.102750,9.862790,9.812250,4.144590,11.370800,1
3,8.64941,7.319350,6.928060,11.165800,4.521850,8.281730,9.849020,4.285380,10.686400,1
4,6.14021,5.922988,5.344164,10.792884,5.075481,7.458132,10.100474,6.196597,9.128276,1
...,...,...,...,...,...,...,...,...,...,...
870,4.02504,9.195770,6.147620,10.236800,4.844300,8.498770,9.355080,4.292070,9.748780,1
871,11.26920,6.809560,6.782110,8.993320,8.860310,11.824100,9.547770,4.081290,12.074800,1
872,3.84257,10.835600,7.261200,4.989960,3.891690,3.609620,7.590590,4.398890,6.865100,1
873,5.98937,7.167550,6.547580,10.173600,5.092400,8.893630,8.916810,4.336270,10.226600,1
874,8.31093,9.304670,6.891500,4.933380,4.050900,7.533220,9.539270,4.356430,10.807400,1

In [6]:
df_reduced_train.to_csv(parent + '\Data\\' + "trainset_ALL_vs_Healthy_25.csv", index=False)
df_reduced_test.to_csv(parent + '\Data\\' + "testset_ALL_vs_Healthy_25.csv", index=False)